body {
	font-family: Arial;
  }
  
  .headers {
	text-align: center;
  }
  
  .columns {
	display: flex;
  }
  
  .left {
	width: 60%;
  }
  
  .right {
	width: 40%;
  }
  
  .axis {
	stroke: black;
	stroke-width: 2px;
  }
  
  .point {
	fill: blue;
	stroke: none;
  }
  
  .point.selected {
	stroke: black;
	stroke-width: 2px;
  }
  
  #acknowledgements {
	margin: 50px auto;
	text-align: center;
  }
  
  #acknowledgements h2 {
	font-size: 24px;
  }
  
  #acknowledgements ul {
	list-style: disc;
	text-align: left;
	margin-left: 50px;
  }
  
  #acknowledgements li {
	margin-bottom: 10px;
  }
