body {
	font-family: Arial;
}

.headers {
	text-align: center;
}

.columns {
	display: flex;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
}

.axis {
	stroke: black;
	stroke-width: 2px;
}

#point {
	fill: blue;
	border: none;
} 

.point {
	fill: blue;
	stroke: none;
  }
  
  .point:hover {
	fill: red;
	stroke: black;
  }
  
  .point.selected {
	stroke: black;
	stroke-width: 2px;
  }


